body{
	background-color: pink;
}

#container{
	width: 1080px;
	text-align: center;
	background-color: white;
	border-width: 3px;
	border-color: #DDDDDD;
}

#top-bar{
	height: 145px;
	background-image: url("./images/Top-Bar.png");
}

#username{
  position: relative;
  right: 400px;
  top: 50px;
}

#follower-count{
	height: 355px;
	background-image: url("./images/Follower-Count.png");
}

#photo-bar{
	height: 140px;
	width: 100%;
	background-image: url("./images/Photo-Bar.png");
}

.pictures{
	width: 100%;
	display: inline-block;
}

#bottom-bar{
	height: 135px;
	background-image: url("./images/Bottom-Bar.png")
}

.ig-image{
	width: 33%;
}

#circle-pic {
    width: 465px;
    height: 465px;
    position: relative;
    right: 47px;
    bottom: 40px;
}

#circle-pic img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
